MY_GITHUB_TOKEN=
TEST_LOCAL_REPO_OWNER=
TEST_LOCAL_REPO_NAME=
TEST_LOCAL_PROJECT_NUMBER=
TEST_LOCAL_ORGANIZATION=
TEST_LOCAL_PULL_REQUEST_1=https://github.com/org/repo/pull/857
TEST_LOCAL_PULL_REQUEST_2=https://github.com/org/repo/pull/865